@import '@core.scss';

.block {
  @include content-container_mob();
  @include flex(space-between, flex-start, column);
  box-sizing: border-box;

  @include desktop() {
    // @include content-container();
    max-width: 100%;
  }

  & > h1 {
    @include font(18px, 400, 21.6px);
    width: 80%;
    margin: 0;
    margin-bottom: 24px;
    &:not(:first-child) {
      margin-top: 32px;
    }
    @include desktop() {
      @include font(30px, 500, 32px);
      margin-bottom: 32px;
    }
  }
  & > h2 {
    @include font(18px, 400, 28px);
    transition: $transition;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 32px;
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  //temp
  & > h3 {
    @include font(24px, 500, 28px);
    color: var(--color-primary);
    margin-top: 0;
    margin-top: 32px;
  }
  & > blockquote {
    @include font(16px, 300, 16px);
    margin-left: 0;
  }
  & > p {
    @include font(16px, 400, 21px);
    letter-spacing: -0.5px;
    margin: 7px 0;
    margin-top: 0;
    font-family: $motserrat;

    @include desktop() {
      @include font(21px, 400, 31px);
    }
  }
  & > ul {
    @include font(16px, 400, 28px);
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 24px;
    & > li {
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      @include desktop() {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

// custom styles for block with title button(link) and hashtags

.title-button-hash {
  padding-top: 0;

  & > ul {
    @include font(16px, 400, 28px);
    list-style: '#';
    padding-left: 0;
    padding-left: 11px;
    margin-bottom: 0;
    margin-top: 32px;
  }
  & > p {
    margin: 8px 0;
    & > a {
      padding: 8px 16px;
      border: 1px solid var(--color-primary);
      border-radius: 33px;
      text-transform: uppercase;
    }
  }
  & > h1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.title-only {
  & > h1 {
    margin: 0px 0 -24px 0;
    @include desktop() {
      margin: 0;
    }
  }
}
