@import '@core.scss';

.project-preview {
  padding-top: 0;
  margin-bottom: 32px;
  position: relative;
  border-top: 1px solid var(--color-primary);
  display: flex;
  flex-direction: column-reverse;
  @include tablet() {
    padding-top: 24px;
    @include flex(flex-start, stretch, row);
    margin-bottom: 24px;
  }
}

.description {
  @include flex(center, flex-start, column);
  flex: 1;

  &--title {
    text-transform: uppercase;
    text-decoration-color: transparent;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: var(--color-primary);
    }
  }
  &--text {
    margin-top: 11px;
    text-decoration-color: transparent;
    margin-top: 24px;
    @include tablet() {
      max-width: 220px;
    }
    @include desktop() {
      max-width: 340px;
    }
  }
  &--link {
    text-decoration-color: transparent;
    margin-top: 24px;
  }
}

.tags {
  margin-bottom: 32px;
  @include tablet() {
    position: absolute;
    left: 0;
    top: 19px;
  }
}

.tag {
  @include font(16px, 400, 19px);
  cursor: pointer;
}

.wrapper {
  flex: 1;
  margin: 16px 0 32px 0;
  opacity: 0;
  border-radius: 10px;
  transform: translateX(60px);
  transition: 0.8s ease-in-out;
  overflow: hidden;
  @include tablet() {
    margin: 0;
    &:not(:last-child) {
      margin: 0 26px 0 0;
    }
  }
}

.animate {
  opacity: 1;
  transform: translateX(0px);
}

.image {
  @include aspect-ratio(32, 24);
  object-fit: cover;
  margin: 0;
  @include tablet() {
    @include aspect-ratio(8, 12);
  }
  @include desktop() {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 10s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.single-wrapper {
  flex: 2;
}

.single-image {
  @include aspect-ratio(4, 3);
}
