@import '@core.scss';

.contact-block {
  @include flex(flex-start, flex-start, column-reverse);
  @include tablet() {
    @include flex();
    margin-top: 176px;
  }
}

.contact-info {
  ul {
    @include font(14px, 400, 20px);
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 30px;
    @include desktop() {
      @include font(16px, 400, 20px);
    }
  }
}

.description {
  margin-bottom: 40px;
  &--title {
    margin-bottom: 70px;
  }
  @include desktop() {
    margin-right: 20px;
    width: 300px;
  }
}

.subtitle {
  @include font(18px, 600, 28px);
}

.contact-info {
  @include tablet() {
    margin-top: 0;
  }
}

.form {
  @include flex(stretch, stretch, column);
  width: 100%;
  margin-bottom: 36px;
  @include tablet() {
    margin-left: 200px;
    width: 456px;
    margin-bottom: 0;
  }
}

.input:not(:last-of-type) {
  margin-bottom: 40px;
}

.caption {
  @include font(16px, 400, 24px);
  margin-top: 19px;
}

.interests {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 22px;
  gap: 10px;
  .item {
    @include font(16px, 400, normal);
    box-sizing: border-box;
    border: 1px solid black;
    padding: 12px 16px;
    border-radius: 18px;
    cursor: pointer;
  }
  .active {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}

.submit {
  @include flex(flex-start, center);
  margin-top: 22px;
}

.button {
  @include font(16px, 400, normal);
  @include flex(center, center);
  padding: 12px 16px;
  border-radius: 18px;
  background-color: unset;
  border: 1px solid black;
  text-transform: uppercase;
  margin-right: 22px;
  outline: none;
  cursor: pointer;
  max-width: 80px;
  &:active {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}

.alert {
  @include font(45px, 400, normal);
  @include flex(center, center);
  overflow: hidden;
  text-overflow: hidden;
  position: fixed;
  text-align: center;
  border-radius: 100%;
  color: transparent;

  //animation
  width: 0;
  height: 0;
  background-color: #282626;
  animation-name: stretch;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(1, 0.015, 0.295, 1);
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes stretch {
  0% {
    width: 0;
    height: 0;
    border-radius: 100%;
  }

  50% {
    color: transparent;
  }

  100% {
    width: 200vw;
    height: 200vh;
    color: #fcdfdf;
    top: -50%;
    left: -50%;
  }
}
