@import '@core.scss';

.hero {
  &--title {
    max-width: 800px;
  }
  &--image {
    @include aspect-ratio(16, 9);
    width: 100%;
    border-radius: 10px;
    @include desktop() {
      margin-bottom: 32px;
    }
  }

  &--description {
    & > p {
      @include font(16px, 400, 24px);
      max-width: 855px;
      margin-top: 57px;
      margin-bottom: 48px;
      @include tablet() {
        @include font(24px, 400, 40px);
      }
    }
  }
}

// title test

.title {
  padding-left: 109px;
  border-left: 2px solid black;
  display: none;
  @include desktop() {
    display: block;
    margin: 0 10%;
  }
  @include desktop-lg() {
    margin: 0 20%;
  }
}

.tag {
  @include font(18px, 400, 21.6px);
}
.caption {
  @include font(44px, 400, 52.8px);
  margin-top: 32px;
}
.description {
  @include font(18px, 400, 21.6px);
  margin-top: 38px;
}

.home {
  margin-bottom: 129px;
}

.hero-home {
  margin-top: 46px;
  @include desktop() {
    margin-top: 88px;
  }
}

.hr {
  margin-top: 24px;
  margin-bottom: 16px;
  @include tablet() {
    margin-top: 36px;
    margin-bottom: 24px;
  }
}

.button {
  cursor: pointer;
}
