@import '@core.scss';

.title {
  width: 70%;

  @include desktop() {
    width: 50%;
  }
}

.heroImage {
  border-radius: 10px;
  margin-top: 32px;
  @include desktop() {
    border-radius: 10px;
    // margin-bottom: 38px;
    transform: unset;
  }
}

video {
  width: 100%;
  margin: 24px 0px 24px 0px;
  @include desktop() {
    margin: 32px 0px 32px 0px;
  }
}
.post {
  @include content-container_mob();
  @include flex(space-between, flex-start, column);
  box-sizing: border-box;
  @include desktop() {
    @include content-container();
    max-width: 100%;
  }
}

.meta {
  @include flex();
  @include container-mobile();
  padding: 25px 32px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 3px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  margin-top: 32px;
  &--photo {
    width: 150px;

    margin-right: 32px;
    margin-top: 32px;
  }
  &--name {
    @include font(20px, 500, 24px);
  }

  &--comment {
    margin-top: 8px;
  }

  &--social {
    @include flex();
    margin-top: 24px;
    & > a {
      margin-right: 24px;
    }
  }

  @include desktop() {
    @include font(16px, 300, 24px);
    @include content-container();
  }
}

.author-photo {
  width: 48px;
  margin-left: 10px;
  margin-right: 16px;
}

.hr {
  margin-top: 24px;
  margin-bottom: -16px;
  @include tablet() {
    margin-top: 36px;
    margin-bottom: -8px;
  }
}
