@import '@core.scss';

.image {
  @include aspect-ratio(32, 25);
  // width: 100%;
  margin: 32px 0px 0px 0px;
  @include tablet() {
    @include aspect-ratio(16, 9);
    @include content-container();
    object-fit: contain;
  }
}

.title {
  width: 70%;
}

.hr {
  margin-top: 24px;
  margin-bottom: -16px;
  @include tablet() {
    margin-top: 36px;
    margin-bottom: -8px;
  }
}

.hero-image {
  @include aspect-ratio(16, 9);
  width: 100%;
  border-radius: 0;
  margin-top: 32px;
  transform: scale(1.1);
  @include desktop() {
    border-radius: 10px;
    margin-bottom: 32px;
    transform: unset;
  }
}

/**
 * rich text start
 */

.image {
  width: 100%;
  margin: 24px 0px 24px 0px;
  @include desktop() {
    margin: 28px 0px 0px 0px;
  }
  & > picture > img {
    position: relative !important;
  }
}

.h2 {
  @include desktop() {
    margin-top: 50px;
  }
}

.h3 {
  @include desktop() {
    margin-top: 19px;
    margin-bottom: -4px;
  }
}

.paragraph {
  @include desktop() {
    margin-top: 14px;
    color: #000000b3;
  }
}

/**
 * rich text end
 */
