@import '@core.scss';

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #282626;
  z-index: 9999999;
  left: 0;
  right: 0;
  animation-name: animate;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
