@import '@core.scss';

.page-title {
  @include font(24px, 400, 24px);
  // color: #000000;
  @include desktop() {
    @include font(40px, 400, 40px);
  }
}

.paragraph {
  @include font(14px, 400, 21px);
  @include desktop() {
    @include font(21px, 400, 31px);
  }
}

.h1 {
  @include font(24px, 400, 24px);
  // color: #000000;
  @include desktop() {
    @include font(40px, 400, 48px);
  }
}

.h2 {
  @include font(24px, 400, 24px);
  //  color: #000000;
  @include desktop() {
    @include font(32px, 500, 48px);
  }
}

.h3 {
  @include font(24px, 400, 28px);
  @include desktop() {
    @include font(24px, 400, 48px);
  }
}

.bold {
  @include desktop() {
    @include font(21px, 600, 31px);
  }
}

.li {
  @include font(14px, 400, 21px);
  @include desktop() {
    @include font(21px, 400, 31px);
  }
}

.ul {
  list-style: none;
  padding-left: 0;
}
.hr {
  height: 1px;
  background-color: var(--color-primary);
  width: 100%;
}
