@import '@core.scss';

.button-link {
  @include font(14px, 400, 24px);
  padding: 8px 12px;
  border: 1px solid;
  border-color: var(--color-text);
  border-radius: 23px;
  text-transform: uppercase;
  display: inline-block;
  &:hover {
    text-transform: underline;
  }
  @include desktop() {
    @include font(20px, 400, 24px);
  }
  &:active {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}
