@import '@core.scss';

.article-block {
}

.heading {
  @include flex(space-between, flex-end, row);
  margin-bottom: 24px;
  @include desktop() {
    @include flex(space-between, flex-end);
    margin-bottom: 36px;
  }
}

.link {
  border: unset;
  padding: 0;
  //temp
  display: none;
}
.title {
  width: 50%;
  margin-bottom: 0px;
  @include desktop() {
    width: 40%;
    margin-bottom: 0;
  }
}

.filters {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  @include desktop() {
    display: flex;
  }
}

.pagination {
  @include font(24px, 400, 24px);
  @include flex(center, center);
  cursor: pointer;
  width: 100%;
  & > div {
    margin-left: 20px;
  }
}
