@font-face {
  font-family: 'kyivtypesans';
  src: url('../assets/fonts/KyivTypeSans-Light.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'kyivtypesans';
  src: url('../assets/fonts/KyivTypeSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'kyivtypesans';
  src: url('../assets/fonts/KyivTypeSans-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'kyivtypesans';
  src: url('../assets/fonts/KyivTypeSans-Medium.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'vic';
  src: url('../assets/fonts/vic/VIC-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
