@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin container() {
  padding: 0px 132px;
}

@mixin container-mobile() {
  padding: 0 24px;
}

@mixin content-container() {
  margin: 0px 23% 32px 23%;
}

@mixin content-container_mob() {
  margin: 24px 0 24px 0;
}

@mixin font($size, $weight: 400, $height: '150%') {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-style: normal;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
