@import '@core.scss';

.capabilitiesBlock {
  // @include desktop() {
  //   @include flex(space-between);
  //   flex-wrap: wrap;
  // }
  @include desktop() {
    @include content-container();
  }
}

.title {
  margin-top: 32px;
  @include desktop() {
    margin-top: 40px;
  }
}

.paragraph {
  margin-top: 24px;
  @include desktop() {
    margin-top: 12px;
  }
}
