@import '@core.scss';

.input-container {
  position: relative;
}

.label {
  @include font(16px, 400, 24px);
}
.input {
  @include font(16px, 400, 24px);
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 6px;
  margin-top: 10px;
}

.focused-label {
  animation: slideup;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.unfocused {
  animation: slidedown;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
