:root {
  --color-primary: black;
  --color-background: white;
}

body {
  /* font-family: 'kyivtypesans'; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.65;
  background: var(--color-background);
  color: var(--color-primary);
  margin: 0;
  font-size: 62.5%;
  letter-spacing: -2.5%;
  transition: 1s;
  will-change: background-color, color;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
}

a {
  color: currentColor;
  text-decoration: none;
}

input {
  background: none;
  border: unset;
  outline: none;
}
.grainy-background:after {
  content: '';
  animation: grain 10s steps(40) infinite;
  background-image: url('https://i.ibb.co/Jt12BJm/texture.png');
  height: 300%;
  width: 300%;
  top: -100%;
  left: -100%;
  z-index: -1;
  opacity: 0.5;
  position: fixed;
}

.grainy-background:before {
  content: '';
  background-image: url('https://i.ibb.co/Jt12BJm/texture.png');
  height: 300%;
  width: 300%;
  top: -100%;
  left: -100%;
  z-index: -1;
  opacity: 0.5;
  position: fixed;
  animation: opositgrain 10s steps(40) infinite;
}

.scroll-wrap {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}

.content {
  padding-top: 81px;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(-15%, 0%);
  }
  70% {
    transform: translate(0%, -15%);
  }
  80% {
    transform: translate(-3%, -25%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@keyframes opositgrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(10%, 5%);
  }
  20% {
    transform: translate(5%, -15%);
  }
  30% {
    transform: translate(25%, -7%);
  }
  40% {
    transform: translate(-25%, 5%);
  }
  50% {
    transform: translate(-10%, 15%);
  }
  60% {
    transform: translate(0%, 15%);
  }
  70% {
    transform: translate(15%, 0%);
  }
  80% {
    transform: translate(25%, 3%);
  }
  90% {
    transform: translate(10%, -10%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
