@import '@core.scss';

.content {
  @include container-mobile();
  @include desktop() {
    @include content-container();
    position: relative;
  }
}

/**
 * rich text start
 */

.image {
  width: 100%;
  margin: 24px 0px 24px 0px;
  @include desktop() {
    margin: 28px 0px 0px 0px;
  }
  & > picture > img {
    position: relative !important;
  }
}

.h2 {
  margin-top: 32px;
  @include desktop() {
    margin-top: 50px;
  }
}

.h3 {
  margin-top: 32px;
  @include desktop() {
    margin-top: 19px;
    margin-bottom: -4px;
  }
}

.paragraph {
  margin-top: 24px;
  @include desktop() {
    font-family: $motserrat;
    margin-top: 14px;
    color: #000000b3;
  }
}

/**
   * rich text end
   */
