@import '@core.scss';

@mixin animate($name, $duration: 1s, $delay: 1s) {
  animation: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home-hero {
  margin: 56px 0px 45px;
}

.title {
  position: relative;
  max-width: 370px;
  &:before {
    @include animate($name: line-animation, $duration: 1.8s, $delay: 1.8s);
    content: '';
    height: 1px;
    width: 32px;
    position: absolute;
    background-color: var(--color-primary);
    left: 0px;
    top: 7px;
    transform: translateX(-100vw);
  }
  @include desktop() {
    max-width: 800px;
    padding-left: 109px;
    position: relative;
    margin: 7% 91px;
    &:before {
      width: 64px;
      top: 10px;
    }
  }
  .tag {
    @include font(14px, 400, 14.4px);
    @include animate($name: fade-in, $delay: 1s);
    font-family: $motserrat;
    margin-left: 50px;
    opacity: 0;
    @include desktop() {
      margin-left: 0;
      @include font(16px, 400, 21.6px);
    }
  }

  .caption {
    @include font(32px, 400, 42.6px);
    @include animate($name: fade-in, $delay: 1.5s);
    margin-top: 16px;
    opacity: 0;
    @include desktop() {
      @include font(40px, 400, 52.8px);
      margin-top: 32px;
    }
  }
  .description {
    @include font(16px, 400, 27px);
    @include animate($name: fade-in, $delay: 2s);
    margin-top: 16px;
    font-family: $motserrat;
    opacity: 0;

    @include desktop() {
      @include font(16px, 400, 21.6px);
      width: 60%;
      margin-top: 38px;
    }
  }
}

.hero-image {
  @include aspect-ratio(16, 9);
  width: 100%;
  border-radius: 0;
  margin-top: 64px;
  transform: scale(1.1);
  @include desktop() {
    border-radius: 10px;
    margin-bottom: 32px;
    transform: unset;
  }
}

/**
 * Title animatio on mount
 */

@keyframes line-animation {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
