@import '@core.scss';

.filters {
  @include flex(space-between);
}

.item {
  @include font(14px, 400, 24px);
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 12px;
  }
  padding: 8px 16px;
  border: 1px solid var(--color-primary);
  border-radius: 23px;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}

.selected {
  background-color: var(--color-primary);
  color: var(--color-background);
}
