@import '@core.scss';

.header-wrapper {
  margin: 0 4%;
  transition: 1s;
  background-color: var(--color-background);
  z-index: 100;
  @include desktop() {
    margin: 0 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header {
  @include flex(space-between, center);
  @include font(16px, 500, 24px);
  text-transform: uppercase;
  padding-top: 19px;
  margin-bottom: 30px;
  position: relative;
  color: var(--color-primary);
  transition: 1s;
  @include desktop() {
    @include flex(space-between, flex-end);
    padding: 24px 0 24px 0;
    margin-bottom: 0px;
  }
}

.logo {
  @include flex(flex-start, center);
  flex: 1;
  @include desktop() {
    width: 44px;
  }

  & > img {
    width: 80px;
    @include desktop() {
      width: auto;
    }
  }
}

.navigation {
  display: none;
  @include desktop() {
    @include flex(space-between, flex-end);
    flex: 0.5;
  }
}

.link {
  position: relative;
  padding-bottom: 2px;
  font-size: 14px;
  font-family: $kiev-sans;
  &:hover {
    &:before {
      animation: uderscore;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      content: '';
      bottom: 0;
      position: absolute;
      width: 100%;
      background-color: var(--color-primary);
      height: 1px;
    }
  }
}

.active {
  &:hover {
    &:before {
      animation: none !important;
    }
  }
  &:before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: var(--color-primary);
    height: 1px;
  }
}

@keyframes uderscore {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.work {
  display: none;
  @include desktop() {
    @include flex(flex-end);
    font-size: 14px;
    font-family: $kiev-sans;
    flex: 1;
    cursor: pointer;
  }
}

.burger {
  cursor: pointer;
  @include desktop() {
    display: none;
  }
}

.menu {
  @include font(18px, 500, 24px);
}

/*
   * Hamburger
   */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
