@import '@core.scss';

.drop-down {
  background-color: #282626;
  color: #fcdfdf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  transform: translate(100vw);
}

.header {
  @include flex(space-between, center);
  @include font(16px, 500, 24px);
  text-transform: uppercase;
  padding-top: 19px;
  margin-bottom: 30px;
  position: relative;
  color: #fcdfdf;
  margin: 0 4%;
}

.logo {
  @include flex(flex-start, center);
  font-family: $vic;
  flex: 1;
  text-transform: lowercase;
  font-weight: bolder;
  & > img {
    width: 80px;
    @include desktop() {
      width: auto;
    }
  }
}

.animate {
  animation-name: animate;
  animation-duration: 0.5s;
  //   animation-timing-function: ea;
  animation-fill-mode: forwards;
}

.hide {
  animation-name: animateReverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.link-list {
  @include flex(space-between, flex-start, column);
  @include font(28px, 300, 42px);
  margin-top: 69px;
  padding: 20px 4%;
  &--item {
    margin-bottom: 24px;
  }
}

.copyright {
  @include font(14px, 400, 14.4px);
  text-transform: uppercase;
  color: #6a6a6a;
  position: absolute;
  bottom: 28px;
  left: 4%;
}

/**
 * Animation
 */

@keyframes animate {
  from {
    transform: translate(100vw);
  }
  to {
    transform: translate(0);
  }
}

@keyframes animateReverse {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(100vw);
  }
}
