@import '@core.scss';

.projects-block {
}

.filters {
  display: none;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  @include desktop() {
    display: flex;
  }
}

.title {
  width: 50%;
  @include desktop() {
    width: initial;
  }
}

.heading {
  @include flex(space-between, flex-end, row);
  margin-bottom: 24px;
  @include desktop() {
    @include flex(space-between, flex-end);
    margin-bottom: 36px;
  }
}

.link {
  border: unset;
  padding: unset;
  //temp
  display: none;
}

.pagination {
  @include font(24px, 400, 24px);
  @include flex(center, center);
  cursor: pointer;
  width: 100%;
  & > div {
    margin-left: 20px;
  }
}
