@import '@core.scss';

.overlay {
  @include flex(center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000075;
  backdrop-filter: blur(10px);
  z-index: 999999999;
}

.get-quote-modal {
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding: 41px 64px;
}

.title {
  @include font(40px, 500, 40px);
  text-align: center;
  color: black;
}

.caption {
  @include font(16px, 500, 16px);
  margin-top: 16px;
  color: #8f8f8f;
}

.label {
  @include font(16px, 500);
  color: black;
}

.form {
  margin-top: 25px;
}
.input {
  @include font(16px, 400, normal);
  padding: 6px 8px;
  display: block;
  border: 0.5px solid #4c4c4c;
  border-radius: 4px;
  outline: none;
  width: 100%;
  resize: none;
  margin-bottom: 12px;
}

.textarea {
  height: 130px;
}

.submit {
  margin: 0px auto;
  border: 1px solid black;
  padding: 8px 0;
  width: 244px;
  border-radius: 40px;
}

.container {
  @include flex(center, center);
  width: 100%;
}

.checkbox {
  @include flex(flex-start, center);
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  & > label {
    @include font(16px, 500, 16px);
    color: #8f8f8f;
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
  }
}

.close {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.successAlert {
  @include font(24px, 400, normal);
  color: black;
}
