@import '@core.scss';

.custom-textarea {
}

.label {
  @include font(16px, 400, 24px);
}

.text-area {
  @include font(16px, 400, 24px);
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 6px;
  margin-top: 10px;
  background-color: transparent;
  outline: none;
  resize: none;
  height: 196px;
}
