@import '@core.scss';

.footer {
  display: grid;
  // grid-template-columns: 1 1 1 1 1;
  background: #f0f1f2;
  color: #808080;
  margin-top: 96px;
  padding: 12px 0;
  width: 100%;
}

.container {
  display: grid;
  align-items: center;
  margin: 0 4%;
  width: auto;
  height: 313px;
  margin-top: 20px;
  // overflow: hidden;
  @include desktop() {
    margin: 0 7%;
  }
  @include tablet() {
    @include flex(space-between, center, row);
  }
}

.title {
  height: 80%;
  & > text {
    @include font(12px, 400);
  }
}

.logo {
  width: 69px;
  margin-bottom: 30px;
}

.copyright {
  @include font(12px, 500);
  margin-top: 156px;
}

.nav {
  display: grid;
  align-items: center;
  gap: 31px;
}

.sub-nav {
  gap: 20px;
}

.main-link {
  @include font(16px, 500);
  color: #353432;
}

.sub-link {
  @include font(12px, 500);
}
.contact {
  display: grid;
  height: 80%;
}

.contact-info {
  display: grid;
  height: 38%;
  grid-template-rows: 3fr 1fr 1fr;
  & > text {
    @include font(12px, 500);
  }
}
.location {
  @include font(12px, 500);
  display: grid;
  color: #353432;
  align-items: end;
}

.socialNetwork {
  display: grid;
  height: 40%;
}

// .link {
//   @include font(12px, 500, 19.2px);
//   text-transform: uppercase;
//   @include tablet() {
//     @include font(16px, 500, 19.2px);
//   }
//   &:not(:first-child) {
//     margin-top: 8px;
//   }
//   @include desktop() {
//     &:not(:first-child) {
//       margin-top: 0px;
//     }
//   }
// }
