@import '@core.scss';

.container {
  text-decoration: none;
}

.article {
  padding-top: 16px;
  margin-bottom: 16px;
  border-top: 1px solid var(--color-primary);
  @include tablet() {
    @include flex();
    align-items: stretch;
    position: relative;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-primary);
  }

  &--image {
    @include aspect-ratio(32, 24);
    border-radius: 10px;
    @include tablet() {
      flex: 1;
      max-width: 414px;
    }
  }
  &--info {
    @include flex(space-between, flex-start, column);
    flex: 1;
    position: relative;
    margin-top: 32px;
    @include tablet() {
      position: static;
      margin-left: 38px;
      margin-top: 0;
    }
  }
  &--title {
    flex: 1;
    text-transform: uppercase;

    margin-bottom: 24px;
    @include desktop() {
      max-width: 50%;
    }
  }
  &--date {
    @include font(16px, 400, normal);
    color: var(--color-primary);
    justify-self: flex-end;
    @include desktop() {
      margin-top: 0;
    }
  }
  .arrow {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    right: 0px;
    @include tablet() {
      top: 25px;
    }
  }
}
