@import '@core.scss';

.team-block {
  margin-top: 60px;
}
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  width: 100%;
  gap: 34px;
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid var(--color-primary);
  @include tablet() {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop() {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 36px;
    padding-top: 24px;
  }
}

.team-mate {
  @include font(16px, 400, 19px);
}

.team-mate {
  width: 100%;
}

.photo {
  @include aspect-ratio(8, 12);
}

.name {
  margin-top: 13px;
}
