@import '@core.scss';

.banner {
  text-align: center;
  width: 314px;
  border-radius: 8px;
  padding: 22px 0 44px 0;
  position: absolute;
  right: -50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 3px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.title {
  @include font(21px, 500, 31.5px);
  width: 75%;
  margin: 0 auto;
}

.hr {
  height: 1px;
  width: 80%;
  background-color: #242320;
  margin: 8px auto 14px auto;
}

.resources {
  @include flex(center, center);
  justify-content: space-between;
  padding: 0 44px;
  &--item {
    display: flex;
    flex-direction: column;
  }
  &--review {
    margin-top: 7px;
  }
  &--firms {
    margin-top: 11px;
  }
}

.caption {
  @include font(16px, 500, 24px);
  width: 80%;
  margin: 23px auto 0 auto;
}

.subcaption {
  @include font(14px, 400, 21px);
  margin-top: 12px;
}

ul {
  @include font(14px, 400, 21px);
  list-style: none;
  text-align: start;

  & > li:not(:last-child) {
    margin-bottom: 13px;
  }
}

.button {
  @include font(14px, 400, 17px);
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 40px;
  width: 244px;
  padding: 6px;
  background-color: transparent;
  margin-top: 24px;
  cursor: pointer;
}
